.vid-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 2rem;
  gap: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

#NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.vid-group__title {
  margin-left: 1rem;
}

body {
  background-color: #0f0f0f;
  color: whitesmoke;
}
main {
  margin: 1rem;
}

#tgSide {
  position: fixed;
  background-color: white;
  /* border: 0; */
  box-shadow: 0 0 3px 0px gray;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  bottom: 1rem;
  left: 1rem;
}

@media (min-width: 768px) {
  .vid-list {
    flex-direction: row;
    margin: 2rem 3rem;
    gap: 1rem 2rem;
  }
  .vid-list > * {
    flex-basis: 30rem;
  }
  main {
    margin: 2rem;
  }
}
